---
---

<nav aria-label="Közösségi média linkek">
  <ul class="social_links">
    <li>
      <a
        target="_blank"
        href="https://www.facebook.com/pantlikazenekar/"
        title="Facebook"
        aria-label="Facebook oldal megnyitása új ablakban"
      >
        <i class="icon-facebook-squared" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a
        target="_blank"
        href="https://www.instagram.com/pantlikatamburazenekar/"
        title="Instagram"
        aria-label="Instagram profil megnyitása új ablakban"
      >
        <i class="icon-instagram-1" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a
        target="_blank"
        href="mailto:pantlikazenekar@gmail.com"
        title="Email"
        aria-label="Email küldése a zenekarnak"
      >
        <i class="icon-mail-squared" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="tel:+36707785049" title="Telefon" aria-label="Telefonhívás indítása">
        <i class="icon-phone-squared" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a
        target="_blank"
        href="https://www.youtube.com/playlist?list=PLK2TbLF0FDt9YC-9f2SIh6tZa59ygKvMy"
        title="YouTube"
        aria-label="YouTube lejátszási lista megnyitása új ablakban"
      >
        <i class="icon-youtube-squared" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</nav>